kjsndf
<p>sjfusdbfds</p>
<form [formGroup]="data" >
  <div>
    <label for="name"> Name:</label>
    <input type="text" id="name" name="name" formControlName="name">
    <div *ngIf="data.controls['name'].invalid && (data.controls['name'].touched || data.controls['name'].dirty)" >
      <div class="warning" *ngIf="data!.controls!['name']!.errors!['required']">
        <p> wright somting to post</p> 
      </div>
    </div>
  </div>
</form>
<button (click)="post()">post</button>
<div>
  <ol>
    <li id="post" *ngFor="let post of posts">
       <h1>{{post.name}}</h1>

       <button  (click)="remove(post._id)">remove</button>

       <button (click)="like(post._id ,post.likes)">like</button>    {{post.likes}} 
  

       <h6>{{post.date}}</h6>
    </li>
    
</ol>
</div>
